<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LecMaster</title>
  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>

  <div th:replace="components/header"></div>

  <h1>講義名：[[${name}]]</h1>

  <h2>先生からのメッセージ : [[${message}]]</h2>

  <div th:each="question : ${questions}">
    <h2>問題 : [[${question.question}]]</h2>

    <form method="post" th:action="@{/student/reply}">
      <input type="hidden" name="id" th:value="${question.each_lecture_id}">
      <input type="hidden" name="question_id" th:value="${question.id}">
      <input type="text" name="reply">
      <input type="submit" value="送信">
    </form>

  </div>

  <h3>各講義一覧</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>講義回</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="lecture, stat:${each_lectures}">
        <td>
          <a th:href="@{/student/each_lecture(id=${id},number=${lecture.number})}">
            [[${lecture.number}]]
          </a>
        </td>
      </tr>
      </tr>
    </tbody>
  </table>

  <div th:replace="components/footer"></div>

  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
</body>

</html>
