<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LecMaster</title>
</head>

<body>

  <div th:replace="components/header"></div>

  <h1>[[${name}]]出席ページ</h1>
  <h2>合言葉を入力してください</h2>
  <form method="post" th:action="@{/student/attend(id=${id})}">
    <input type="text" name="password">
    <input type="submit" value="送信">
  </form>

  <div th:if="${incorrect}">
    <p>合言葉が違います</p>
  </div>

  <div th:replace="components/footer"></div>
</body>

</html>
