<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LecMaster</title>
</head>

<body>

  <div th:replace="components/header"></div>

  <h1>講義名：[[${name}]]</h1>

  <h2>先生からのメッセージ : [[${message}]]</h2>

  <div th:each="question : ${questions}">
    <h2>問題 : [[${question.question}]]</h2>

    <form method="post" th:action="@{/student/reply}">
      <input type="hidden" name="id" th:value="${question.lecture_id}">
      <input type="hidden" name="question_id" th:value="${question.id}">
      <input type="text" name="reply">
      <input type="submit" value="送信">
    </form>

  </div>

  <div th:replace="components/footer"></div>
</body>

</html>
