<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>LecMaster</title>
</head>

<body>
  <h1>[[${name}]]の設定用ページです</h1>

  <div class="password">
    <h3>パスワード</h3>

    <p>現在のパスワード</p>
    <p>[[${password}]]</p>

    <form method="post" th:action="@{/setting(id=${id})}">
      <input type="text" name="password" value="合言葉">
      <input type="submit" value="変更">
    </form>
  </div>

  <div class="message">
    <h3>生徒へのメッセージ</h3>

    <form method="post" th:action="@{/message(id=${id})}">
      <input type="text" name="message">
      <input type="submit" value="送信">
    </form>
  </div>
</body>

</html>
