<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LecMaster</title>
</head>

<body>

  <div th:replace="components/header"></div>

  <h1>[[${name}]]の設定用ページです</h1>

  <div class="password">
    <h3>パスワード</h3>

    <p>現在のパスワード</p>
    <p>[[${password}]]</p>

    <form method="post" th:action="@{/teacher/setting(id=${id})}">
      <input type="text" name="password" value="合言葉">
      <input type="submit" value="変更">
    </form>
  </div>

  <div class="message">
    <h3>生徒へのメッセージ</h3>
    <p th:if="${message}">[[${message}]]</p>

    <form method="post" th:action="@{/teacher/message(id=${id})}">
      <input type="text" name="message">
      <input type="submit" value="送信">
    </form>
  </div>

  <div class="each-lecture">
    <h3>各講義一覧</h3>
    <table>
      <thead>
        <tr>
          <th>講義回</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="lecture, stat:${each_lectures}">
          <td>[[${lecture.number}]]</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div th:replace="components/footer"></div>
</body>

</html>
