<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>LecMaster</title>
</head>

<body>
  <h1>[[${name}]]の設定用ページです</h1>

  <div class="password">
    <h3>パスワード</h3>

    <p>現在のパスワード</p>
    <p>[[${password}]]</p>

    <form method="post" th:action="@{/setting(id=${id})}">
      <input type="text" name="password" value="合言葉">
      <input type="submit" value="変更">
    </form>
  </div>

  <div class="message">
    <h3>生徒へのメッセージ</h3>
    <p th:if="${message}">[[${message}]]</p>

    <form method="post" th:action="@{/message(id=${id})}">
      <input type="text" name="message">
      <input type="submit" value="送信">
    </form>
  </div>

  <div class="question">
    <h3>生徒への問題</h3>
    <form method="post" th:action="@{/question(id=${id})}">

      問題
      <input type="text" name="question"><br>
      答え
      <input type="text" name="answer">
      <input type="submit" value="送信">
    </form>
  </div>

  <h3>出席者一覧</h3>
  <div th:each="attend,stat:${attends}">
    <tr>
      <td>[[${attend.name}]]</td>
    </tr>
  </div>
</body>

</html>
